@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
/* Color Palette */

:root{
    --primary-color: #E50914;
    --primary-color-hover: #c70e17;
    --secondary-color: #000;
    --primary-text-color: #fff;
    --secondary-text-color: #b3b3b3;
}


/* Starting of CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    background-color: black;
    scroll-behavior: smooth;
}

.background{
    overflow: hidden;
    
}
.background > img {
    width: 100%;
    height: 100dvh;
    object-fit: cover;
    transform: scale(1.07) translateY(5.3%);
    

}

/* Using background image effect from the website */

.landing-component{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(54deg, rgba(0, 0, 0, 0.9000) 20.00%, rgba(0, 0, 0, 0.8965) 26.50%, rgba(0, 0, 0, 0.8861) 33.00%, rgba(0, 0, 0, 0.8688) 39.50%, rgba(0, 0, 0, 0.8444) 46.00%, rgba(0, 0, 0, 0.8132) 52.50%, rgba(0, 0, 0, 0.7750) 59.00%, rgba(0, 0, 0, 0.7368) 65.50%, rgba(0, 0, 0, 0.7056) 72.00%, rgba(0, 0, 0, 0.6813) 78.50%, rgba(0, 0, 0, 0.6639) 85.00%, rgba(0, 0, 0, 0.6535) 91.50%, rgba(0, 0, 0, 0.6500) 98.00%);
}

/* Header Section starts here */

/* Using background image effect from the website */

header{
    position: relative;
    top: 0;
    padding: 1.5rem;
    margin: 0 2%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    background-image: linear-gradient(
    180deg,rgba(0, 0, 0, 0.8000) 0.000%, rgba(0, 0, 0, -3.2111) 8.333%, rgba(0, 0, 0, 0.7556) 16.67%, rgba(0, 0, 0, 0.7000) 25.00%, rgba(0, 0, 0, 0.6222) 33.33%, rgba(0, 0, 0, 0.5222) 41.67%, rgba(0, 0, 0, 0.4000) 50.00%, rgba(0, 0, 0, 0.2778) 58.33%, rgba(0, 0, 0, 0.1778) 66.67%, rgba(0, 0, 0, 0.1000) 75.00%, rgba(0, 0, 0, 0.04444) 83.33%, rgba(0, 0, 0, 0.01111) 91.67%, rgba(0, 0, 0, 0.000) 100.0%);
}    

header nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav .logo{
    width: 9.25rem;
    height: 2.5rem;
}
nav .logo img{
    object-fit: cover;
    width: 100%
}

header .navbar{
    position: relative;
    width: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 0.4rem;
    font-family: inherit;
}

.navbar #lang{
    background-color: transparent;
    color: var(--primary-text-color);
    padding: 0.1rem 2.2rem;
    border-radius: 0.3rem;
    appearance: none;
}

.navbar #lang:focus{
    border: 2px solid var(--primary-text-color);
}

.navbar #lang option{
    text-align: center;
}
.navbar #signin{
    padding: 0.1rem 1rem;
    padding-top: 0.6rem;
    border-radius: 0.3rem;
    margin-left: 0.8rem;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 0.9rem;
}
.navbar #signin:hover{
    background-color: var(--primary-color-hover);
}

.navbar #arrow-icon{
    position: absolute;
    top: 0.9rem;
    left: 6rem;
}

.navbar #arrow-icon img{
    width: 0.8rem;
    height: 0.8rem;
}

.navbar #translation-icon{
    position: absolute;
    top: 0.95rem;
    left: 0.7rem;
}

.navbar #translation-icon img{
    width: 1rem;
    height: 1rem;
}

/* Header Section Ends */

/* Hero Component Starts */

.hero-layout{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 80dvh;
    display: flex;
    align-items: flex-end;
    padding: 0 9.25rem;
}

.hero-component{
    border: 1px solid red;
    margin-bottom: 5rem;
    max-width: 36.45rem;

}

.hero-component h1{
    color: var(--primary-text-color);
    font-weight: 900;
    font-size: 3.7rem;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0rem;
    line-height: 5.5rem;
}

.hero-component p:nth-child(2){
    color: var(--primary-text-color);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 0.05rem;
    margin-top: 1rem;
    text-align: left;
}

.hero-component p:nth-child(3){
    color: var(--primary-text-color);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 2.5rem;
    text-align: left;
    color: var(--secondary-text-color);
}

.subscription-form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.2rem;
    position: relative;
}

.subscription-form input[type="button"]{
    margin-left: 0.5rem;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: 0.9rem 3.5rem 0.9rem 1.5rem;
    border-radius: 0.3rem;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.02rem;
}

.subscription-form #right-arrow{
    position: absolute;
    top: 2rem;
    right: 0.9rem;
    
}

.subscription-form #right-arrow img{
    width: 1.9rem;
    height: 1.9rem;
}

.subscription-form input[type="button"]:hover{
    background-color: var(--primary-color-hover);
}

.subscription-form input[type="email"]{
    width: 23rem;
    height: 3.5rem;
    border-radius: 0.3rem;
    outline: none;
    border: 0.1px solid rgb(110, 108, 108);
    background-color: rgba(32, 23, 23, 0.7);
    padding: 1rem 0.8rem;
}

.subscription-form input[type="email"]::placeholder{
    color: var(--secondary-text-color);
    font-weight: 500;
}

.subscription-form input[type="email"]::placeholder:focus::-webkit-input-placeholder{
    transition: 0.5s 0.5s ease;
    opacity: 0;
}

.subscription-form input[type="email"]:focus{
    border: 2px solid var(--primary-text-color);
    color: var(--primary-text-color);
}







/* Media Query for Tablet */
@media screen and (max-width: 960px)
{
    header{
        margin: 0 1.5rem;
    }
}


/* Media Query for Mobile */
/* @media screen and (max-width: 600px)
*{

}
.wrapper {
    width: 100%;
}
.hero-section > img {
    width: auto;
    object-fit: cover;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
} */