@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Predefined Color Pallete */

:root{
    --primary-color: #E50914;
    --primary-color-hover: #c70e17;
    --secondary-color: #000;
    --primary-text-color: #fff;
    --secondary-text-color: #b3b3b3;
    --acent-color: #232323;
}


html{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    background-color: var(--secondary-color);
}

/* Landing Component Starts ... */

.wrapper{
    position: relative;
    background-color: var(--secondary-color);
    height: 44rem;
}
.background{
    overflow: hidden;
    height: 100%;
    
}
.background > img {
    width: 100%;
    min-height: 105%;
    object-fit: cover;
    transform: scale(1.25) translateY(-13.5%);
}
.landing-component{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 10%;
    background-color: rgba(0 0 0 / 40%);
    background-image: linear-gradient(to top, rgba(0, 0 , 0, 0.75) 0%, rgba(0, 0 , 0, 0) 60%, rgba(0, 0 , 0, 0.8) 100%);
}

/* -> Header Section starts here */

header{
    position: relative;
    top: 0;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}    
header nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav .logo{
    width: 9.25rem;
    height: 2.5rem;
}
nav .logo img{
    object-fit: cover;
    width: 100%
}
.navbar{
    width: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 0.2rem;
    font-family: inherit;
    z-index: 1;
}
.lang-button{
    position: relative;
    display: inline-block;
}
.lang-button .lang{
    background-color: rgba(22, 22, 22, 0.7);
    color: var(--primary-text-color);
    padding: 0.38rem 2.32rem;
    border-radius: 0.3rem;
    appearance: none;
    
}
.lang-button .lang:focus{
    border: 2px solid var(--primary-text-color);
}
.lang-button .lang option{
    text-align: center;
}
.lang-button .arrow-icon{
    position: absolute;
    top: 20%;
    left: 78%;
}
.lang-button .arrow-icon img{
    width: 0.7rem;
    height: 0.7rem;
}
.lang-button .lang-label{
    position: absolute;
    top: 20%;
    left: 30%;
    color: var(--primary-text-color);
}
.lang-button .translation-icon{
    position: absolute;
    top: 22%;
    left: 10%;
}
.lang-button .translation-icon img{
    width: 1.05rem;
    height: 1.05rem;
}
.navbar #signin{
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    margin-left: 1.5rem;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 0.9rem;
    height: 90%;
    cursor: pointer;
}
.navbar #signin:hover{
    background-color: var(--primary-color-hover);
}

/* -> Header Section Ends */


/* -> Hero Component Starts */

.hero-layout{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 9.25rem;
}
.hero-component{
    margin-top: 6rem;
    max-width: calc(100% - 4rem);
    z-index: 1;
}
.hero-component h1{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 3.2rem;
    text-align: center;
    margin: 0;
}
.hero-component p:nth-child(2){
    color: var(--primary-text-color);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    margin-top: 1.2rem;
}
.form-heading{
    color: var(--primary-text-color);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 1.8rem;
}
.subscription-form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.2rem;
    position: relative;
}
.subscription-form input[type="submit"]{
    margin-left: 0.5rem;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: 0.9rem 3.5rem 0.9rem 1.5rem;
    border-radius: 0.3rem;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.02rem;
}
.subscription-form > div{
    display: flex;
}
.submit-button{
    position: relative;
}
.submit-button .right-arrow{
    position: absolute;
    bottom: 0.8rem;
    right: 1.2rem;
    width: 1.9rem;
    height: 1.9rem;
    background-image: url('../assets/right-arrow.svg');
    background-size: cover;
}
.subscription-form input[type="submit"]:hover{
    background-color: var(--primary-color-hover);
}
.subscription-form input[type="email"]{
    width: 23rem;
    height: 3.5rem;
    border-radius: 0.3rem;
    outline: none;
    border: 1px solid rgba(128, 128 , 128, 0.7);
    background-color: rgba(22, 22, 22, 0.7);
    padding: 1rem 0.8rem;
}
.subscription-form input[type="email"]::placeholder{
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 1rem;
}
.subscription-form input[type="email"]::placeholder:focus::-webkit-input-placeholder{
    transition: 0.5s 0.5s ease;
    opacity: 0;
}
.subscription-form input[type="email"]:focus{
    border: 2px solid var(--primary-text-color);
    color: var(--primary-text-color);
}

/* -> Hero Component Ends  */

/* Landing Component Ends ...  */

/* ---------------------------------------------------- */

/* Multimedia Component Layout Starts ... */

.section-divider{
    width: 100%;
    height: 0.5rem;
    background-color: var(--acent-color);
}

.multimedia-layout{
    width: 100%;
    padding: 4rem 0rem;
    display: flex;
    justify-content: center;

}

.multimedia-component{
    margin-left: 0.8rem;
    width: 67rem;
    height: 25rem;
    display: flex;
    flex-direction: row;
}

.multimedia-component .multi-1{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -> Text Section */

.multi-text{
    width: 100%;
    text-align: left;
}
.multi-text h2{
    font-weight: 900;
    color: var(--primary-text-color);
    font-size: 3.2rem;
}

.multi-text p{
    margin: 1rem 1rem 1.5rem 0rem;
    font-weight: 400;
    color: var(--primary-text-color);
    font-size: 1.56rem;
}

/* -> Image - Video Section */

.multimedia-component .multi-2{
    position: relative;
    width: 50%;
}

/* -> TV Image */

.multi-2 .multi-image{
    height: 100%;
    width: 99%;
}
.multi-2 .multi-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* -> TV Vidoe */

.multi-2 .multi-video{
    position: absolute;
    top: 20%;
    left: 13.5%;
    width: 72%;
    height: 53.5%;
    z-index: -1;
    overflow: hidden;
}
.multi-2 .multi-video video{
    object-fit: contain;
}

/* -> Strange Things Box Starts */

.multimedia-layout .mc2{
    flex-direction: row-reverse;
}
.multimedia-layout .mc2 .multi-2 .strange-box{
    position: absolute;
    left: 22%;
    bottom: 8%;
    width: 55%;
    height: 6.3rem;
    background-color: var(--secondary-color);
    border: 2px solid rgba(128, 128, 128, 0.7);
    border-radius: 0.75rem;
    box-shadow: 0 0 2em 0 rgb(0,0,0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 0rem;
}
.multimedia-layout .mc2 .multi-2 .strange-box .strange-book{
    width: 20%;
}
.multimedia-layout .mc2 .multi-2 .strange-box .strange-book img{
    object-fit: cover;
    width: 100%;
}
.multimedia-layout .mc2 .multi-2 .strange-box .strange-text{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.multimedia-layout .mc2 .multi-2 .strange-box .strange-text p{
    color: var(--primary-text-color);
    font-size: 1.05rem;
    font-weight: 500;
}
.multimedia-layout .mc2 .multi-2 .strange-box .strange-text #downloading{
    color: #0071eb;
    font-size: 0.95rem;
    margin-top: 0.2rem;
}
.multimedia-layout .mc2 .multi-2 .strange-box .strange-gif{
    width: 20%;
}
.multimedia-layout .mc2 .multi-2 .strange-box .strange-gif img{
    object-fit: cover;
    width: 100%;
}

/* -> Strange Things Box Ends */


.multimedia-layout .mc3 .multi-2 .multi-video{
    top: 10%;
    left: 18%;
    width: 62.5%;
    height: 47%;
}
.multimedia-layout .mc3 .multi-1 .multi-text p{
    margin-right: 0;
}

.multimedia-layout .mc4{
    flex-direction: row-reverse;
}
.multimedia-layout .mc4 .multi-1 .multi-text p{
    margin-right: 0;
}

/* Media Component Layout Ends ... */

/* ---------------------------------------------- */

/* FAQ Component Starts ... */

.faq-layout{
    width: 100%;
    padding: 4rem 11.8%;
    display: flex;
    justify-content: center;
}
.faq-component{
    width: 100%;
}
.faq-component > h2{
    color: var(--primary-text-color);
    font-size: 3.25rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
    text-align: center;
}
.accordion{
    width: 100%;
}
.accordion li{
    list-style: none;
    background-color: #2D2D2D;
    position: relative;
    margin-top: 0.5rem;
    
}
.accordion li label{
    color: var(--primary-text-color);
    font-size: 1.48rem;
    font-weight: 400;
    padding: 1.8rem 1.4rem 1.7rem 1.5rem;
    display: block;
    border-bottom: 2px solid var(--secondary-color);
    cursor: pointer;
    transition: background-color 0.1s linear;
}
.accordion li label:hover{
    background-color: #494848;
}
.accordion li input[type="radio"]{
    display: none;
}
.accordion li .plus-cross{
    position: absolute;
    background-image: url("../assets/plus.svg");
    background-size: cover;
    top: 1.7rem;
    right: 1.7rem;
    width: 1.8rem;
    height: 1.8rem;
    transition: transform 0.2s ease-out;
}
.accordion .content{
    padding: 0 1.5rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out, padding 0.2s ease-out;
}
.content h3{
    color: var(--primary-text-color);
    font-size: 1.48rem;
    font-weight: 400;
}
.accordion input[type="radio"]:checked ~ .content{
    max-height: 100%;
    padding: 1.5rem;
}
.accordion input[type="radio"]:checked ~ .plus-cross{
    transform: rotate(45deg);
}

/* FAQ Component Ends ... */

/* ----------------------------------------- */

/* Footer Component Starts ... */

.footer-layout{
    width: 100%;
    padding: 4rem 11.8%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    width: 100%;
    text-align: left;
}
footer .contact{
    color: var(--secondary-text-color);
    
}
footer .contact a{
    color: var(--secondary-text-color);
    text-decoration: underline;   
    font-size: 1rem;
}

/* -> Footer Links Starts */

footer .links{
    margin: 1.5rem 0rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 1rem;
    column-gap: 0.8rem;
}
footer .links li{
    list-style: none;
}
footer .links li a{
    color: var(--secondary-text-color);
    font-size: 0.85rem;
    text-decoration: underline;
    transition: color 0.2s;
}
footer .links li a:active{
    color: var(--primary-color);
}

/* -> Footer links Ends */

footer #region{
    margin-top: 1.9rem;
    display: block;
    color: var(--secondary-text-color);
    font-size: 0.85rem;
}

/* Footer Component Starts ... */

/* ------------------------------------- */
/* ------------------------------------- */



/* For Making Responsiveness Layouts */

@media screen and (max-width: 1279px){

    /* Landing Component */

    .landing-component{
        padding: 0.3rem 2%;
    }
    header{
        padding: 1.2rem 0;
    }
    header nav .logo img{
        width: 9.5rem;
    }
    .hero-layout{
        padding: 0rem  2rem;
    }
    .hero-component{
        max-width: none;
    }

    /* Multimedia Component */

    .multimedia-component{
        width: 95%;
        margin: 0;
    }
    .multimedia-layout .multimedia-component .multi-2 .multi-video{
        height: 53%;
    }
    .multimedia-layout .mc2 .multi-2 .strange-box{
        width: 64%;
        left: 17%;
        bottom: 8%;
        height: 23%;
        padding: 0.2rem 0.8rem;
        justify-content: space-between;
    }
    .multimedia-layout .mc2 .multi-2 .strange-box .strange-book{
        width: 14%;
    }
    .multimedia-layout .mc2 .multi-2 .strange-box .strange-text{
        width: 65%;
    }
    .multimedia-layout .mc2 .multi-2 .strange-box .strange-gif{
        width: 13%;
    }

    /* FAQ Component */

    .faq-layout{
        padding: 4rem 3%;
    }
    .faq-component > h2{
        font-size: 3.2rem;
    }
    .accordion li label{
        font-size: 1.55rem;
    }

    /* Footer Component */
    
    .footer-layout{
        padding: 4rem 3%;
    }
   
}

/* Media Query for Tablet */

@media screen and (max-width: 960px){
    
    /* Landing Component */

    .wrapper{
        height: 32.2rem;
    }
    .landing-component{
        padding: 0.1rem 2rem;
    }
    .background > img{
        transform: scale(1.22) translateY(-11.8%);
    }
    .logo{
        padding-top: 0.4rem;
    }
    header nav .logo img{
        width: 5.7rem;
    }
    .navbar #signin{
        margin-left: 0.5rem;
    }
    .hero-component{
        margin-top: 6rem;
    }
    .hero-component h1{
        font-size: 2.1rem;
    }
    .hero-component p:nth-child(2){
        font-size: 1.1rem;
    }
    .form-heading{
        font-size: 1.15rem;
    }

    /* Multimedia Component Starts */

    .multimedia-layout{
        display: flex;
    }
    .multimedia-layout .multimedia-component{
        flex-direction: column;
        width: auto;
        height: auto;
        margin: 0 2rem;
        align-items: center;
    }
    .multi-text h2{
        font-size: 2.1rem;
        font-weight: 700;
    }
    .multi-text p{
        font-size: 1.15rem;
        font-weight: 400;
        margin: 0;
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
    }
    .multimedia-layout .multimedia-component .multi-1{
        width: auto;
    }
    .multimedia-layout .multimedia-component .multi-2{
        width: auto;
        margin-bottom: 1rem;
    }
    .multimedia-layout .multimedia-component .multi-2 .multi-video{
        height: 53%;
    }
    .multimedia-layout .mc2 .multi-2 .strange-box{
        width: 65%;
        left: 17%;
        bottom: 7%;
        height: 17%;
        padding: 0rem 0.8rem;
        justify-content: space-between;
    }
    .multimedia-layout .mc2 .multi-2 .strange-box .strange-book{
        width: 11.5%;
    }
    .multimedia-layout .mc2 .multi-2 .strange-box .strange-text{
        width: 65%;
    }
    .multimedia-layout .mc2 .multi-2 .strange-box .strange-gif{
        width: 13%;
    }
    .multimedia-layout .multimedia-component .multi-1 .multi-text{
        text-align: center;
    }

    /* FAQ Component */

    .faq-layout{
        padding: 4rem 4%;
    }
    .faq-component > h2{
        font-size: 2.1rem;
        margin-bottom: 1.5rem;
    }
    .accordion li label{
        font-size: 1.15rem;
        padding: 1.55rem 1.2rem 1.55rem 1.4rem;
    }
    .accordion li .plus-cross{
        width: 1.3rem;
        height: 1.3rem;
        right: 1.5rem;
    }
    .content h3 {
        font-size: 1.15rem;
    }

    /* Footer Component */

    .footer-layout{
        padding: 1.5rem 4%;
        padding-bottom: 2rem;
    }
    footer .links{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        row-gap: 0.9rem;
    }
    footer #region{
        margin-top: 1.5rem;
    }

}

/* Media Query for Mobile */

@media screen and (max-width: 600px){
    
    /* Landing Component */

    .wrapper{
        height: 33rem;
    }
    .landing-component{
        padding: 0.1rem 1.5rem;
    }
    .background > img{
        object-fit: cover;
        object-position: left bottom;
        transform: scale(1) translateY(-4.5%);
    }
    .logo{
        padding-top: 0.4rem;
    }
    .hero-layout{
        padding: 0;
        padding: 0 1.6rem;
    }
    .hero-component{
        margin-top: 4.8rem;
        width: 100%;
    }
    .subscription-form > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .subscription-form input[type="email"]{
        width: 85%;
        height: 2.8rem;
    }
    .form-heading{
        padding: 0 0.8rem;
    }
    .subscription-form input[type="submit"]{
        margin-left: 0;
        margin-top: 1rem;
        width: 10rem;
        font-size: 1.1rem;
        padding: 0.9rem 2.5rem 0.7rem 1rem;
        font-weight: 500;
    }
    .submit-button .right-arrow{
        right: 0.8rem;
        bottom: 0.5rem;
        width: 1.7rem;
        height: 1.7rem;
    }
    .lang-button .lang{
        padding: 0.38rem 0.3rem;
    }
    .lang-button .translation-icon{
        top: 22%;
        left: 18%;
    }
    .lang-button .lang-label{
        display: none;
    }
    .lang-button .arrow-icon{
        top: 20%;
        left: 60%;
    }

    /* Multimedia Component Starts */
    
    .multimedia-layout {
        padding: 3rem 0;
    }
    .multimedia-layout .multimedia-component{
        margin: 0 1.5rem;
    }
    
    .multimedia-layout .mc2 .multi-2 .strange-box{
        height: 4rem;
        width: 85%;
        left: 7%;
        padding: 0.1rem 0.7rem;
    }
    .multimedia-layout .mc2 .multi-2 .strange-box .strange-book{
        width: 2rem;
    }
    .multimedia-layout .mc2 .multi-2 .strange-box .strange-book{
        object-fit: cover;
    }
    .multimedia-layout .mc2 .multi-2 .strange-box .strange-text{
        width: 52%;
    }
    .multimedia-layout .mc2 .multi-2 .strange-box .strange-text p{
        font-size: 0.92rem;
        font-weight: 400 ;
    }
    .multimedia-layout .mc2 .multi-2 .strange-box .strange-text #downloading{
        font-size: 0.75rem;
    }
    .multimedia-layout .mc2 .multi-2 .strange-box .strange-gif{
        width: 3rem;
    }

    /* Footer Component */

    .footer-layout{
        padding: 1.5rem 6%;
        padding-bottom: 1.8rem;
    }
    footer .links{
        row-gap: 0.9rem;
    }
    footer #region{
        margin-top: 1.5rem;
    }
    .footer-lang{
        width: 7.5rem;
    }
    footer .lang-button .arrow-icon{
        padding: 0 0;
        left: 80%;
    }
    footer .lang-button .translation-icon{
        left: 10%;
    }
}

@media screen and (max-width: 480px){
    
    /* FAQ Component */
    
    .faq-layout{
        padding: 3rem 6%;
    }
}
