<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Component</title>
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
    <div class="section-divider"></div>
    
    <section class="footer-layout">
        <footer>
            <div class="contact">
                Questions? Call
                <a href="tel:000-800-919-1694">000-800-919-1694</a>
            </div>

            <ul class="links">
                <li><a href="https://help.netflix.com/support/412">FAQ</a></li>
                <li><a href="https://help.netflix.com">Help Center</a></li>
                <li><a href="https://www.netflix.com/in/login?nextpage=https%3A%2F%2Fwww.netflix.com%2Fyouraccount">Account</a></li>
                <li><a href="https://media.netflix.com/">Media Centre</a></li>
                <li><a href="http://ir.netflix.com/">Investor Relations</a></li>
                <li><a href="https://jobs.netflix.com/jobs">Jobs</a></li>
                <li><a href="https://devices.netflix.com/en/">Ways to Watch</a></li>
                <li><a href="https://help.netflix.com/legal/termsofuse">Terms of Use</a></li>
                <li><a href="https://help.netflix.com/legal/privacy">Privacy</a></li>
                <li><a href="#">Cookie Preferences</a></li>
                <li><a href="https://help.netflix.com/legal/corpinfo">Corporate Information</a></li>
                <li><a href="https://help.netflix.com/contactus">Contact Us</a></li>
                <li><a href="https://fast.com">Speed Test</a></li>
                <li><a href="https://help.netflix.com/legal/notices">Legal Notices</a></li>
                <li><a href="https://www.netflix.com/in/browse/genre/839338">Only on Netflix</a></li>
            </ul>
            
            <div class="lang-button">
                <select name="lang" id="lang">
                    <option value="English">English</option>
                    <option value="हिन्दी">हिन्दी</option>
                </select>
                <div id="arrow-icon">
                    <img src="../assests/down-arrow.svg" alt="translation-svg">
                </div>
                <div id="translation-icon">
                    <img src="../assests/Translation.svg" alt="translation-svg">
                </div>
            </div>

            <br>
            <span id="region">Netflix India</span>
        </footer>
    </section>
    
</body>
</html>