<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multimedia Component</title>
    <link rel="stylesheet" href="../css/multimedia.css">
</head>
<body>

    <!-- Multimedia Component Starts ... -->

    <div class="section-divider"></div>
    <section class="multimedia-layout">
        <div class="multimedia-component mc1">
            <aside class="multi-1">
                <div class="multi-text">
                    <h2>Enjoy on your TV</h2>
                    <p>Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</p>
                </div>
            </aside>
            <aside class="multi-2">
                <div class="multi-image">
                    <img src="../assests/tv.png" alt="TV">
                </div>
                <div class="multi-video">
                    <video src="../assests/video-tv.m4v" autoplay loop muted></video>
                </div>
            </aside>
        </div>
    </section>

    <div class="section-divider"></div>
    <section class="multimedia-layout">
        <div class="multimedia-component mc2">
            <aside class="multi-1">
                <div class="multi-text">
                    <h2>Download your shows to watch offline</h2>
                    <p>Save your favourites easily and always have something to watch.</p>
                </div>
            </aside>
            <aside class="multi-2">
                <div class="multi-image">
                    <img src="../assests/stranger things.jpg" alt="Stranger things photo">
                </div>
                <div class="strange-box">
                    <div class="strange-book">
                        <img src="../assests/boxshot.png" alt="strange-book">
                    </div>
                    <div class="strange-text">
                        <p>Stranger Things</p>
                        <span id="downloading">Downloading...</span>
                    </div>
                    <div class="strange-gif"><img src="../assests/download-icon.gif" alt="Download gif"></div>
                </div>
            </aside>
        </div>
    </section>

    <div class="section-divider"></div>
    <section class="multimedia-layout">
        <div class="multimedia-component mc3">
            <aside class="multi-1">
                <div class="multi-text">
                    <h2>Watch everywhere</h2>
                    <p>Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.</p>
                </div>
            </aside>
            <aside class="multi-2">
                <div class="multi-image">
                    <img src="../assests/device-pile-in.png" alt="TV">
                </div>
                <div class="multi-video">
                    <video src="../assests/video-devices-in.m4v" autoplay loop muted></video>
                </div>
            </aside>
        </div>
    </section>

    <div class="section-divider"></div>
    <section class="multimedia-layout">
        <div class="multimedia-component mc4">
            <aside class="multi-1">
                <div class="multi-text">
                    <h2>Create profiles for kids</h2>
                    <p>Send children on adventures with their favourite characters in a space made just for them—free with your membership.</p>
                </div>
            </aside>
            <aside class="multi-2">
                <div class="multi-image">
                    <img src="../assests/children-photo.png" alt="TV">
                </div>
            </aside>
        </div>
    </section>

     <!-- Multimedia Component Ends ... -->
    
</body>
</html>